/* Layout */
.main {
     display: flex; /*centraliza o conteúdo */
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
}

.clockbox,
#clock {
    width: 100%; 
}

/* Clock styles */
.circle {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #dc5ce0;
}
.hour-marks {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #4ad7f0;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #eb4a4a;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #88e04e;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Caixa transparente que certifica-se que os ponteiros estão corretamente centralizados*/
.sizing-box {
    fill: none;
}

/* Faz com que os ponteiros caminhem ao redor do mesmo ponto central */
/* Opcional: Use transition para criar animação */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    /* transition: transform .5s ease-in-out; */
}
